<div class="jumbotron">
  <h1>SoundCloud Suggestions</h1>
  <p class="lead">
  </p>
</div>

<div class="row marketing">
    <h4>Connect</h4>
    <p>
        <img src="images/btn-connect-sc-l.png" ng-click="connect()" />
    </p>

    <h4>Suggest Tracks</h4>
    <button ng-click="getTracks()">Tracks!</button>

    <div ng-if="hasResults" id="results">
        <iframe id="widget-iframe"></iframe>
        <div ng-if="showTracks()">
            <button ng-click="next()">Next</button>
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Count</td>
                        <td>Status</td>
                        <td>Info</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="track in suggested" ng-click="playTrack(track.rank)">
                        <td>{{track.rank+1}}</td>
                        <td>{{track.count}}</td>
                        <td>{{track.status}}</td>
                        <td>{{track.info}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h4>Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
</div>
