<div>
    <p>{{username}}</p>
    <div ng-if="favorites > 0">
        <label><input ng-repeat="f in favorites" type="checkbox" text />{{ f.title }}</label>
    </div>
    <div ng-if="users.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>User</td>
                    <td>Tracks</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users">
                    <td>{{ u.rank }}</td>
                    <td>{{ u.name }}</td>
                    <td>{{ u.tracknames }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="tracks.length > 0">
        <table class="table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Count</td>
                    <td>Track</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="t in tracks">
                    <td>{{ t.rank }}</td>
                    <td>{{ t.count }}</td>
                    <td><iframe width="100%" height="450" scrolling="no" frameborder="no" ng-src="{{t.url}}"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
